DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

LLM_PROVIDER=openai
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

HUGGINGFACE_API_KEY=
HUGGINGFACE_MODEL=meta-llama/Meta-Llama-3-8B-Instruct

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
YAHOO_LOOKBACK_DAYS=90
